@font-face {
    font-family: "titillium web";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

:root {
    --fontfamily-titillium-web: titillium web;
    --fontfamily-inter: inter;
    --fontfamily-quicksand: quicksand;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .banner-login {
    width: 100vw;
    height: 687px;
    background-image: url(../assets/img/Banner_Login.png);
    backdrop-filter: blur(2px);
}

main .banner-login .login {
    width: 335px;
    height: 462px;
    border: 1px solid #FFFFFF;

    position: relative;
    top: 78px;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    backdrop-filter: blur(5px);
}

main .banner-login .login .banner-login-h1 {
    border-top: 4px solid #F9AA01;
    font-family: var(--fontfamily-titillium-web);
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px;
}

main .banner-login .login form .inputs {
    width: 273px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    background-image: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    backdrop-filter: blur(3px);
    font-size: 16px;
    font-weight: 400;
}

::placeholder {
    color: #FFFFFF;
    padding-left: 15px;
}

main .banner-login .login form .submit {
    width: 273px;
    height: 40px;
    margin-top: 40px;
    background-color: #F9AA01;
    color: #1B1426;
    border-radius: 8px;
    font-size: 24px;
   font-weight: 700;
}

footer .grid-footer {
    width: 100vw;
    height: 1531px;
    background-image: url(../assets/img/backgroung_footer.png);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .grid-footer .cabecalho-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #000002, rgba(67, 3, 99, 0.03));

}

footer .grid-footer .cabecalho-footer img {
    width: 110px;
    padding-top: 91px;
    margin-bottom: 41px
}

footer .grid-footer .cabecalho-footer p {
    margin: 0 20px;
    text-align: justify;
    font-family: var(--fontfamily-quicksand);
    font-size: 14px;
    font-weight: 400;
}

footer .grid-footer .redes-sociais-footer {
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-around;
}

footer .grid-footer .links-uteis-footer {
    width: 326px;
    height: 155px;
}

footer .grid-footer .links-uteis-footer h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 30px;
    font-weight: 900;
    columns: #FFFFFF;
}

footer .grid-footer .links-uteis-footer hr {
    width: 112px;
    height: 3px;
    background-color: #F9AA01;
    border-width: 0;
    margin-bottom: 43px;
}

footer .grid-footer .links-uteis-footer a {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

footer .grid-footer .contatos-footer {
    width: 289px;
    height: 257px;
    margin: 0 66px 0 20px;
}

footer .grid-footer .contatos-footer h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
}

footer .grid-footer .contatos-footer hr {
    width: 102px;
    height: 3px;
    border-width: 0;
    background-color: #F9AA01;
    margin-bottom: 43px;
}

footer .grid-footer .contatos-footer h3 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 700;
    color: #F9AA01;
    margin-bottom: 4px;
}

footer .grid-footer .contatos-footer p {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

footer .grid-footer .newsletter-footer {
    width: 333px;
    height: 201px;
    margin: 0 20px 0 20px;
}

footer .grid-footer .newsletter-footer h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
}

footer .grid-footer .newsletter-footer hr {
    width: 102px;
    height: 3px;
    border-width: 0;
    background-color: #F9AA01;
    margin-bottom: 55px;
}

footer .grid-footer .newsletter-footer #email-newsletter {
    width: 333px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    backdrop-filter: blur(3px);
    margin-bottom: 16px;
}

footer .grid-footer .newsletter-footer #botao-submit {
    width: 333px;
    height: 40px;
    border-radius: 8px;
    background-color: #F9AA01;
    font-size: 24px;
    font-weight: 700;
    color: #1B1426;
}

footer .grid-footer .copyright button {
    width: 40px;
    height: 40px;
    background-color: #F9AA01;
    border-radius: 8px;
    border-width: 0;
    margin: 0 26px 26px 309px;
}

footer .grid-footer .copyright p {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 40px;
}

