@font-face {
    font-family: "titillium web";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

:root {
    --fontfamily-titillium-web: titillium web;
    --fontfamily-inter: inter;
    --fontfamily-quicksand: quicksand;
}

main .grid-equipes {
    width: 374px;
    height: 1231px;
    background-image: url(../assets/img/Banner_cadastro_de_Equipe.png);
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .grid-equipes .formulario-equipes {
    width: 335px;
    height: 492px;
    border-radius: 8px;
    background-image: linear-gradient(112.07deg, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .grid-equipes .formulario-equipes h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
}

main .grid-equipes .formulario-equipes hr {
    width: 250px;
    height: 3px;
    border-width: 0;
    background-color: #F9AA01;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 50px;
}

main .grid-equipes .formulario-equipes .form-equipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

main .grid-equipes .formulario-equipes .form-equipes #id-equipe,
#nome-equipe {
    width: 273px;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    background-image: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    backdrop-filter: blur(3px);
    border-width: 0;
}

::placeholder {
    color: white;
}

::placeholder main .grid-equipes .formulario-equipes .form-equipes #imagem-equipe {
    width: 124px;
    height: 80px;
    border-radius: 8px;
    border-width: 0;
    color: white;
}

main .grid-equipes .formulario-equipes .form-equipes button {
    width: 268px;
    height: 40px;
    border-radius: 8px;
    background-color: #F9AA01;
    font-family: var(--fontfamily-titillium-web);
    font-size: 24px;
    color: #1B1426;
}

main .grid-equipes .tabelas-equipes {
    
}

main .grid-equipes .tabela-equipes .tabela-head tr {
    width: 336px;
    height: 50px;
    font-family: var(--fontfamily-titillium-web);
    font-size: 20px;
    color: #F9AA01;
    text-shadow: 0px 0px 7px #000000;
    text-transform: uppercase;
   
    display: flex;
    align-items: center;
    margin-left: 20px;
}

main .grid-equipes .tabela-equipes .tabela-head tr td {
    margin-right: 55px;
}

main .grid-equipes .tabela-equipes tr hr {
    background-color: #F9AA01;
    border-width: 0;
    width: 336px;
    height: 3px;
    margin-bottom: 29px;
    margin-left: 10px;
}

main .grid-equipes .tabela-equipes .tabela-body tr  {
    width: 336px;
    height: 70px;
    margin-bottom: 15px;
    margin-left: 8px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-image: linear-gradient(112.07deg, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 8px;
    
    font-family: var(--fontfamily-titillium-web);
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

main .grid-equipes .tabela-equipes .tabela-body tr span {
    color: #F9AA01;
}






