@font-face {
    font-family: "titillium web";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontfamily-titillium-web: titillium web;
    --fontfamily-inter: inter;
    --fontfamily-quicksand: quicksand;
}

body {
    color: #ffffff;
}

/* Classes genéricas */
.mostrar-menu {
    left: 0 !important;
}

.mostrar-menu-usuarios {
    right: 0 !important;
}

.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header Top */
header .header-top {
    display: none;
}

/* Header Bottom */


header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 79vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: 0.4s;
}

/* somente links "filhos diretos" */
header .header-bottom nav>a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav>a:last-of-type {
    border-bottom: none;
}

/* ícone de mídias sociais possibilidade position 
header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

header .header-bottom nav .midias-sociais {
    display: flex;
    justify-content: center;
    /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
    gap: 50px;
}

/* menu lateral direito - ícones */

header .header-bottom .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -80px;
    width: calc(60vw - 150px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: 0.4s;
}

/* banner main */

main {
    margin-top: 60px;
}

main .banner {
    width: 100%;
    height: 606px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url(../assets/img/img\ banner\ mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

main .banner h1 {
    color: #ffffff;
    font-family: var(--fontfamily-titillium-web);
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 0px 0px 7px #FD4255;
}

main .banner .botao-sobre {
    width: 171px;
    height: 40px;
    border-radius: 8px;
    background-color: #F9AA01;
    color: #1B1426;
    font-family: var(--fontfamily-titillium-web);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

/* banner jogos */

main .banner-jogos {
    width: 375px;
    height: 590px;
    background-color: #1B1426;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .banner-jogos .banner-jogos-fifa {
    width: 335px;
    height: 189px;
    background-image: url(../assets/img/sports-fifa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 8px;
    display: flex;
    align-items: end;
}

main .banner-jogos-counter {
    width: 335px;
    height: 189px;
    background-image: url(../assets/img/counter-strike.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 8px;
    display: flex;
    align-items: end;
}

main .banner-jogos-countainer {
    width: 100vw;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 8px;
    backdrop-filter: blur(45px);
}

main .banner-jogos-link {
    width: 200px;
    height: 40px;
    background-color: #F9AA01;
    margin: 0 0 5px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-20deg);
}

main .banner-jogos-link a {
    font-family: var(--fontfamily-titillium-web);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}

/* banner entre para o time */

main .banner-time {
    background-color: #F9AA01;
    width: 100vw;
    height: 1535px;

    display: flex;
    flex-direction: column;
}

.banner-time h2 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 18px;
    font-weight: 900;
    color: #1B1426;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin: 84px auto 0 auto;
}

.banner-time hr {
    background-color: #1B1426;
    width: 60%;
    height: 3px;
    border-width: 0;
    margin: 35px auto;
}

main .banner-time-article-1 {
    width: 314px;
    height: 511px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 20px;
}

main .banner-time-descricao-1 {
    width: 231px;
    height: 300px;

    position: absolute;
    top: 132px;
    left: 105px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid white;
    border-radius: 8px;
    background-image: linear-gradient(145.9deg, rgba(122, 49, 236, 0.2) 0%, rgba(47, 7, 109, 0.83) 98.56%);
    backdrop-filter: blur(7.5px);
}

main .banner-time-descricao-1 img {
    width: 97px;
    height: 97px;
    margin: 27px;
}

main .banner-time-descricao-1 h3 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #C6A5E6;
}

main .banner-time-descricao-1 p {
    text-align: justify;
    margin: 19px 27px 47px 27px;
    font-family: var(--fontfamily-quicksand);
    font-weight: 400;
    font-size: 13px;
}

main .banner-time-article-2 {
    width: 314px;
    height: 511px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 110px 20px 238px 33px;
}

main .banner-time-descricao-2 {
    width: 231px;
    height: 300px;

    position: absolute;
    top: 100px;
    left: -13px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid white;
    border-radius: 8px;
    background-image: linear-gradient(145.9deg, rgba(122, 49, 236, 0.2) 0%, rgba(47, 7, 109, 0.83) 98.56%);
    backdrop-filter: blur(7.5px);
}

main .banner-time-descricao-2 img {
    width: 97px;
    height: 96px;
    margin: 15px;
}

main .banner-time-descricao-2 h3 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #C6A5E6;
}

main .banner-time-descricao-2 p {
    text-align: justify;
    margin: 15px 27px 26px 27px;
    font-family: var(--fontfamily-quicksand);
    font-weight: 400;
    font-size: 13px;
}

/* banner notícias */

main .banner-noticias {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/Img\ fundo\ Noticias.png);
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .banner-noticias h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 18px;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 46px;
}

main .banner-noticias hr {
    background-color: #F9AA01;
    border-width: 0;
    width: 204px;
    height: 3px;
    margin: 0 auto 72px auto;
}

main .banner-noticias .banner-noticias-article {
    width: 335px;
    height: 387px;
    margin-bottom: 46px;
    background-image: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34), rgba(5, 1, 12, 0.79));
    backdrop-filter: blur(3px);
    border-radius: 8px;
}

main .banner-noticias .banner-noticias-article h2 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 16px auto 16px 26px;
}

main .banner-noticias .banner-noticias-article p {
    font-family: var(--fontfamily-quicksand);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin: 0 25px 21px 25px;
}

/* footer */

footer .grid-footer {
    width: 100vw;
    height: 1531px;
    background-image: url(../assets/img/backgroung_footer.png);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .grid-footer .cabecalho-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #000002, rgba(67, 3, 99, 0.03));

}

footer .grid-footer .cabecalho-footer img {
    width: 110px;
    padding-top: 91px;
    margin-bottom: 41px
}

footer .grid-footer .cabecalho-footer p {
    margin: 0 20px;
    text-align: justify;
    font-family: var(--fontfamily-quicksand);
    font-size: 14px;
    font-weight: 400;
}

footer .grid-footer .redes-sociais-footer {
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

footer .grid-footer .links-uteis-footer {
    width: 326px;
    height: 155px;
    margin: 0 auto 47px 20px;
}

footer .grid-footer .links-uteis-footer h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 30px;
    font-weight: 900;
    columns: #FFFFFF;
}

footer .grid-footer .links-uteis-footer hr {
    width: 112px;
    height: 3px;
    background-color: #F9AA01;
    border-width: 0;
    margin-bottom: 43px;
}

footer .grid-footer .links-uteis-footer .lista-links-uteis {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 50px 20px;
}

footer .grid-footer .links-uteis-footer li a {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 40px;
}

li::marker {
    content: '- ';
    font-size: 2em;
    color: #F9AA01;
}

footer .grid-footer .contatos-footer {
    width: 289px;
    height: 257px;
    margin: 0 66px 0 20px;
}

footer .grid-footer .contatos-footer h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
}

footer .grid-footer .contatos-footer hr {
    width: 102px;
    height: 3px;
    border-width: 0;
    background-color: #F9AA01;
    margin-bottom: 43px;
}

footer .grid-footer .contatos-footer h3 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 700;
    color: #F9AA01;
    margin-bottom: 4px;
}

footer .grid-footer .contatos-footer p {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

footer .grid-footer .newsletter-footer {
    width: 333px;
    height: 201px;
    margin: 0 20px 0 20px;
}

footer .grid-footer .newsletter-footer h1 {
    font-family: var(--fontfamily-titillium-web);
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
}

footer .grid-footer .newsletter-footer hr {
    width: 102px;
    height: 3px;
    border-width: 0;
    background-color: #F9AA01;
    margin-bottom: 55px;
}

footer .grid-footer .newsletter-footer #email-newsletter {
    width: 333px;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    background-image: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    backdrop-filter: blur(3px);
    margin-bottom: 16px;
    /* outline: none; */
}

::placeholder {
    color: #FFFFFF;
    padding-left: 15px;
}


footer .grid-footer .newsletter-footer #botao-submit {
    width: 333px;
    height: 40px;
    border-radius: 8px;
    background-color: #F9AA01;
    font-size: 24px;
    font-weight: 700;
    color: #1B1426;
}

footer .grid-footer .copyright button {
    width: 40px;
    height: 40px;
    background-color: #F9AA01;
    border-radius: 8px;
    border-width: 0;
    margin: 0 26px 26px 309px;
}

footer .grid-footer .copyright p {
    font-family: var(--fontfamily-titillium-web);
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 40px;
}







